* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

:root {
  --color1: #222;
  --destak: #00c590;
  --text-color: #eee;

  --second-color: #333;
  --third-color: #666;
}

body {
  height: 100vh;
  background-color: var(--color1);
  color: var(--text-color);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  max-width: 900px;
  margin: auto;
}

nav h1 {
  color: var(--destak);
  font-size: 3em;
  font-weight: 600;
  padding: 1rem 0;
}

nav ul {
  display: flex;
  width: 50%;
  max-width: 200px;
  list-style: none;
  justify-content: space-between;
}

nav ul button {
  background-color: transparent;

  border: none;
  color: var(--third-color);
}


main {
  max-width: 768px;
  margin: auto;
}

button:hover {
  cursor: pointer;
}

.active-filter {
  color: var(--text-color);
}

/* Section new task */

.section-new-task {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
  background-color: var(--color1);
  box-shadow: 0 -3px 15px #111;
  position: fixed;
  bottom: 0;
}

form div {
  width: 100%;
  display: flex;
}

.new-task {
  padding: .5em;
  flex-grow: 1;
  border: none;
  border-radius: .25em;
  margin-right: .5em;
  outline: none;
}

.invalid-content {
  border: solid 2px red;
}

#btn-submit {
  background-color: var(--destak);
  color: #fff;
  font-weight: 900;
  font-size: xx-large;
  border: none;
  line-height: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* Section tasks cards  */

.section-tasks {
  font-size: .8em;
  padding: 1em;
  padding-bottom: 6em;
}

.empty {
  text-align: center;
  color: var(--third-color);
}

.task-card {
  padding: 1em;
  background-color: var(--second-color);
  margin: .5em 0;
  border-radius: .25em;
  display: flex;
  justify-content: space-between;
}

.task-card p {
  display: flex;
  align-items: center;
}

.task-card p input {
  margin-right: 1em;
}

.task-card button {
  background-color: transparent;
  border: none;
  color: var(--third-color);
  font-weight: 900;
  font-size: large;
}

.task {
  display: none;
}

label {
  padding: 10px;
  margin-right: 1em;
  border: solid 2px var(--destak);
  border-radius: 5px;
}

label:hover {
  cursor: pointer;
}

label::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid var(--text-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.task:checked + label {
  background-color: var(--destak);
  position: relative;
}

.task:checked + label::after {
  display: block;
}

@media (min-width: 768px) {
  .section-new-task {
    position: static;
    background-color: none;
    box-shadow: none;
  }

  .section-tasks {
    font-size: 1em;
    padding: 1em;
  }
}